.Landing_page {
    margin: 5%;
}

.header {
    width: 542px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-weight: 900;
    text-align: left;
    size: 45px;
    margin-bottom: 20px; /* Space between header and content */
}

.content {
    display: flex;
    align-items: flex-start; /* Align items to the top */
}

.text {
    flex: 1; /* Take up remaining space */
    margin-right: 0px; /* Space between text and image */
}

.passage {
    width: 673px;
    font-family: serif;
    font-size: 23px;
    font-weight: 300;
    line-height: 30.26px;
    letter-spacing: 0.02em;
    text-align: left;
    opacity: 1; /* Ensure opacity is 1 to make the text visible */
}

.button {
    display: flex;
    margin-top: 20px; /* Adjust spacing as needed */
}

.avalanche-zone-map,
.area-analysis {
    background-color: #16d9ed;
    color: black;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    margin: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.avalanche-zone-map:hover,
.area-analysis:hover {
    background-color: #0069d9;
}

.image {
    flex-shrink: 0; 
    margin-right: 5%;
}

.image img {
    max-width: 1000px; /* Set maximum width for the image */
    height: 400px;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.2); /* Create shadow for the image */
    border-radius: 40px;
}
