/* navbar.css */

.navbar {
  margin: 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img img {
  width: 170px; /* Example width */
  height: auto;
  margin:20%;
}

.Options{
  display: flex;
  justify-content:space-evenly; /* Space options evenly */
  margin-left: 200px;
}
.o {
  padding: 10px;
  padding-left: 40px;
  font-weight: bold;
  cursor: pointer;
}

#db{
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 30px;
  margin-right: 5px;
  background-color: #8489DD;
}

#w{
  height: 10px;
}

.urgent-news-container {
  display: flex;
  align-items: center;
}

.urgent-news {
  background-color: red; /* Red background */
  color: white; /* White text color */
  padding: 5px; 
  width: 150px; /* Adjust width */
  height: 30px; /* Adjust height */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect for the box */
  border-radius: 10px;
}

.urgent-news h2 {
  font-size: 16px; /* Decrease font size */
  font-weight: bold;
  margin-bottom: 10px; /* Space between the header and the marquee */
}

.marquee-container {
  overflow: hidden; /* Hide overflow */
  white-space: nowrap; /* No line breaks */
  background-color: #CBF2FF;
  height: 40px;
}
.marquee {
  display: inline-block;
  animation: marquee 10s linear infinite reverse; /* Reverse the animation */
  
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}