.weather {
    height: 20px; /* Adjust height as needed */
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .weather-data {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .temperature {
   text-align: start;
   

  }
  
  .box {
    width: 200px;
    height: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1rem;

  }
  
  .temp-c,
  .temp-f {
    display: flex;
    text-align: center;
  }
  
  .description {
    text-transform: capitalize;
    font-size: 0.8rem;
    margin-left: 5px; /* Adjust spacing as needed */
  }
  