/* navbar */
.navbar {
  margin: 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.img img {
  width: 170px; /* Example width */
  height: auto;
  margin:20%;
}

.Options {
  display: flex;
  justify-content: space-evenly; /* Space options evenly */
  margin-left: 150px; /* Adjusted margin-left */
}

.o {
  padding: 10px;
  padding-left: 40px;
  font-weight: bold;
  cursor: pointer;
}

#db {
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 30px;
  margin-right: 5px;
  margin-bottom: 15px; 
  background-color: #8489DD;
  transition: transform 0.5s ease;
}

#db:hover{
  transform: scale(1.1);
}

#e{
  background-color: red;
  border-radius: 41px;
  padding-right: 7px;
  padding-left: 8px;
  padding: 10px;
  margin-left: 25px;
  margin-bottom: 15px; 
  transition: transform 0.5s ease;
}
#e:hover{
  transform: scale(1.1);
}

.urgent-news-container {
  display: flex;
  align-items: center;
}

.urgent-news {
  background-color: #FF0000; 
  color: white; 
  padding: 5px;
  width: 160px;
  height: 30px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  display: flex; 
  justify-content: center; 
  align-items: center;
}


.urgent-news h2 {
  font-size: 16px; 
  padding-bottom: 5px;
}

.marquee-container {
  display: flex; /* Use flexbox */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  overflow: hidden; /* Hide overflow */
  white-space: nowrap; /* No line breaks */
  background-color: #CBF2FF;
  width: 100%;
  height: 40px;
  font-weight: 500;
}
.marquee {
  display: inline-block;
  animation: marquee 30s linear infinite reverse; /* Reverse the animation */
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* landing page css */
.Landing_page {
  margin: 5%;
}

.header {
  width: 542px;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  font-weight: 900;
  text-align: left;
  size: 45px;
  margin-bottom: 20px; /* Space between header and content */
}

.content {
  display: flex;
  align-items: flex-start; /* Align items to the top */
  flex-wrap: wrap;
}

.text {
  flex: 1; /* Take up remaining space */
  margin-right: 0px; /* Space between text and image */
}

.passage {
  width: 673px;
  font-family: serif;
  font-size: 23px;
  font-weight: 300;
  line-height: 30.26px;
  letter-spacing: 0.02em;
  text-align: left;
  opacity: 1; /* Ensure opacity is 1 to make the text visible */
}

.button {
  display: flex;
  margin-top: 20px; /* Adjust spacing as needed */
  flex-wrap: wrap;
}

.avalanche-zone-map,
.area-analysis {
  background-color: #83D2EF;
  color: black;
  padding: 15px 30px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  margin: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.avalanche-zone-map:hover,
.area-analysis:hover {
  background-color: #0069d9;
}

.image {
  flex-shrink: 0; 
  margin-right: 5%;
}

.image img {
  max-width: 1000px; /* Set maximum width for the image */
  height: 400px;
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.2); /* Create shadow for the image */
  border-radius: 40px;
}

/* map  */
.map_container{
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 5%;
  background-color:#CBF2FF;
  border-radius: 5%;
  align-items: center;
  padding: 40px;
  margin-top: 0px;
  margin-bottom: 10%;
  flex-wrap: wrap;
}
/* Area */
.container-area {
  width:900px;
  margin-right:20%;
  margin-left:20%;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-area {
  margin-bottom: 20px;
  color: black;
  text-align: center;
}

.location {
  margin-bottom: 20px;
  text-align: center;
  color: black;
}

.location h3 {
  display: inline-block;
  background-color: #d3ecf3;
  width: 300px;
  height: 50px;
  padding: 10px;
}

.location select {
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
}

.chart-area {
  height: 60vh; /* Adjust the height as needed */
  background-color: #d3d3f3; /* light purple background */
  border-radius:5%;
  padding: 20px;
  position: relative;
}

canvas {
  background-color: #d3d3f3; /* Match the container background */
  border-radius: 10px;
}

.legend {
  position: absolute;
  top: 10px;
  left: 10px;
  color: black;
  font-size: 16px;
}

.legend span {
  display: inline-block;
  margin-right: 10px;
}

/* ndrf */
.container-ndrf-main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  /* Align items at the start */
  
}

.image-ndrf {
  margin-right: 20px;
}

.image-ndrf img {
  max-width: 434px;
  height: auto;
  margin-top: 3%;
  margin-right: 5%;
}

.header-ndrf {
  text-align: center;
  margin-right:46%;
  font-weight: 900;
  font-size: 25px;
}

.passage-ndrf {
  max-width: 600px;
  flex: 1;
  background-color: #D9D9D9;
  padding: 30px 30px;

}

.passage-ndrf p {
  margin: 0;
  padding: 5px 0;
  font-size :23px;
  gap: 0;
  font-weight: 600;
  
}

/* safe */
.continer-safe{
  margin:5%;
  display: flexbox;
}

.header-safe{
margin-left: 0%;
}

.passage-safe p{
  margin-left: 43%;
  font-weight: 700;
}

.guide-safe{
  padding: 50px;
  background-color: #CBF2FF;
  font-size: 15px;
  font-weight: 700;
  margin-left: 25%;
  margin-right: 25%;
  gap: 0px;
  border-radius: 33px;
  opacity: 0px;
  
}

.guide-safe span{
  font-size: 15px;
  font-weight: 700;
  color:#6A02BC;
}

/* weather */
/* Weather.css */

.weather {
  padding: 10px; /* Keep padding small */
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px; /* Set a smaller fixed width */
  height: 10px; /* Centering and margin adjustments */
}

.weather-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temperature {
  display: flex;
  align-items: center;
  margin-top: 5px; /* Small margin */
}

#icon img {
  width: 100px; /* Smaller size for the icon */
  height: 100px; /* Smaller size for the icon */
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem; /* Keep font size readable but not too large */
  margin-left: 5px; /* Small margin */
}

.temp-c {
  text-align: center;
}
/* info */
.info{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  flex-flow: row wrap;
  margin-bottom: 5%;
}
.info h5{
  text-align: center;
  font-size: 1.4em;
}

.B1, .B2{
   background-color: #F1FCFF;
   border-radius: 26px;
   height: 350px;
   width: 450px;
   padding: 10px;
}

.B1 h5{
  color: #00BAFE;
}

#line {
  width: 410px;     
  height: 3px;
  margin: 22px;  
  margin-bottom: 2px;    
  background-color: black; 
  margin: 0 auto;
}

.district{
  padding-left: 50px;
  font-size: larger;
}

.district h4{
  margin-bottom: 30px;
}
.disname h4{
  color: #FF0000;
 margin: 30px ;
 font-size: 1.2em;
 margin-left: -20px;
}

.district p{
  font-size: 100%;
  font-weight: 700;
}

.disname p{
  font-size: 100%;
  font-weight: 700;
  margin: 25px;
}

.info-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.loc{
  padding-left: 50px;
  font-size: larger;
}

#wl{
  color: orangered;
}

#rl{
   margin-bottom: -20px;
}

.head{
  display:flex;
  justify-content: space-between;
  margin: 20px;
  margin-bottom: 0px;
  margin-top: 1px;
}

.loc p, .rlevel p{
  font-size: 100%;
  font-weight: 700;
  margin: 30px;
}
.rlevel p{
 transform: scale(2.1);
 margin: 35px;
}
/* footer  */
.footer {
  height:160px;
  background-color: black;
  padding: 20px;
  padding-left: 50px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: large;
}
.yo {
  display: flex;
  flex-direction: column;
}
.logo {
  display: flex;
  flex-direction: row;
}
.l {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0px;
  margin-top: 0px;
}

.yo pre {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.about button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  background-color: #dadada;
  /* Grey background color */
  color: black;
  /* Text color */
  border: none;
  /* Remove default button border */
  padding: 10px 30px;
  /* Padding inside the button */
  border-radius: 40px;
  /* Rounded corners */
  cursor: pointer;
  /* Cursor style */
  transition: background-color 0.3s ease;
  /* Smooth transition for background color */
}

.about button:hover {
  background-color: #AAAAAA;
  /* Darker grey on hover */
}

.logo-f1, .logo-f2 {
  width: 40px; 
  height: 50px; 
  margin: 5px;
  object-fit: contain;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  margin-left: 30px;
}

.logo-f3{
  width: 40px; 
  height: 40px; 
  margin: 10px;
  object-fit: contain;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  margin-left: 30px;
}

.logo-f4{
  width: 50px; 
  height: 35px; 
  margin: 10px;
  margin-top: 12px;
  margin-left: 30px;
}


.cc {
  position: absolute;
  top: 915%;
  color: rgb(253, 252, 252);
  left: 40%;
}


/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal.show {
  display: block;
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.modal-content h2 {
  color: red;
}

.modal-content p {
  font-size: 16px;
}

.modal-content button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #45a049;
}
/* dashboard */
.dash-container {

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.location-i {
  background-color: #CBF2FF;
  width: 400px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 10px;
  margin-bottom: 30px;
  font-size: 20px;
  color: #000AFE;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.server-data, .sensor-data {
  background-color: #CBF2FF;
  width: 721px;
  height: 443px;
  border-radius: 50px;
  margin-top: 30px;
}

.sensor-data{
  height: 333px;
}

h1 {
  text-align: center;
  padding: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  font-weight: 900;
}

.location-i select {
  font-size: 16px; /* Adjusted font size */
  color: black;
  background-color: transparent;
  border: none;
  outline: none;
}

.dropdown {
  width: 250px; /* Adjusted width */
  filter: url(#goo);
}

.dropdown__face,
.dropdown__items {
  background-color: #fff;
  padding: 10px; /* Adjusted padding */
  border-radius: 25px;
  padding-left: 20px;
}

.dropdown__face {
  display: block;
  position: relative;
  cursor: pointer;
}

.dropdown__items {
  margin: 0;
  position: absolute;
  right: 0;
  top: 50%;
  width: 100%;
  list-style: none;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
}

.dropdown__items::before {
  content: "";
  background-color: #fff;
  position: absolute;
  bottom: 89%;
  right: 20%;
  height: 20px; 
  width: 20px;
  transform: rotate(45deg);

}

.dropdown__arrow {
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  position: absolute;
  top: 50%;
  right: 20px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg) translateY(-50%);
  transform-origin: right;
}

.dropdown input {
  display: none;
}

.dropdown input:checked ~ .dropdown__items {
  top: calc(100% + 25px);
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.data {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.atmospheric-data,
.units {
  display: flex;
  flex-direction: column;
}

.atmospheric-data p,
.units p {
  margin: 10px;
  font-weight: bold;
}

hr {
  width: 90%;
  border: 1px solid #000;
}

.data h5{
  font-size: large;
  color: #000AFE;
  margin: 10px;
  margin-bottom: 5px;
}
@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .Options {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0; /* Remove margin-left */
  }

  .header {
    width: auto;
    font-size: 22px;
  }

  .passage {
    width: auto;
    font-size: 20px;
  }

  .image img {
    max-width: 100%;
    height: auto;
  }

  .container-area,
  .map_container,
  .container-ndrf-main {
    margin-left: 5%;
    margin-right: 5%;
    
  }

  .chart-area {
    width: 100%;
  }
  
  .weather {
    width: auto;
    height: auto;
  }

  .info {
    width: auto;
    height: auto;
  }
}
/* sdrf */
.sdrfinfo {
  text-align: center;
  padding: 20px;
}

.sdrf-images {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.r{
  display: flex;
  flex-direction: row;
}
.sdrf-images img {
  width: 100px; /* Adjust size as needed */
  height: auto;
  margin: 10px;
  margin-left: 180px;
}

.sdrf-text {
  text-align: left;
  margin: 10px auto;
  max-width: 500px;
  background-color: #e0e0e0;
  font-weight: bold;
  padding: 40px;
  margin-right: 210px;
}

.sdrf-text ul {
  list-style-type: disc;
  padding: 0;
}

.sdrf-text li {
  margin-bottom: 10px;
}

.sdrf-alert {
  margin-top: 20px;
  padding: 20px;
  background-color: #e0e0e0;
  border-radius: 8px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-weight: bold;
}

.sdrf-l{
  display: flex;
  flex-direction: row;
}