/* navbar */
.navbar {
  margin: 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img img {
  width: 170px; /* Example width */
  height: auto;
  margin:20%;
}

.Options {
  display: flex;
  justify-content: space-evenly; /* Space options evenly */
  margin-left: 150px; /* Adjusted margin-left */
}

.o {
  padding: 10px;
  padding-left: 40px;
  font-weight: bold;
  cursor: pointer;
}

#db {
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 30px;
  margin-right: 5px;
  margin-bottom: 15px; 
  background-color: #8489DD;
  transition: transform 0.5s ease;
}

#db:hover{
  transform: scale(1.1);
}

#e{
  background-color: red;
  border-radius: 41px;
  padding-right: 7px;
  padding-left: 8px;
  padding: 10px;
  margin-left: 25px;
  margin-bottom: 15px; 
  transition: transform 0.5s ease;
}
#e:hover{
  transform: scale(1.1);
}

.urgent-news-container {
  display: flex;
  align-items: center;
}

.urgent-news {
  background-color: #FF0000; 
  color: white; 
  padding: 5px;
  width: 160px;
  height: 30px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  display: flex; 
  justify-content: center; 
  align-items: center;
}


.urgent-news h2 {
  font-size: 16px; 
  padding-bottom: 5px;
}

.marquee-container {
  display: flex; /* Use flexbox */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  overflow: hidden; /* Hide overflow */
  white-space: nowrap; /* No line breaks */
  background-color: #CBF2FF;
  width: 100%;
  height: 40px;
  font-weight: 500;
}
.marquee {
  display: inline-block;
  animation: marquee 30s linear infinite reverse; /* Reverse the animation */
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* landing page css */
.Landing_page {
  margin: 5%;
}

.header {
  width: 542px;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  font-weight: 900;
  text-align: left;
  size: 45px;
  margin-bottom: 20px; /* Space between header and content */
}

.content {
  display: flex;
  align-items: flex-start; /* Align items to the top */
}

.text {
  flex: 1; /* Take up remaining space */
  margin-right: 0px; /* Space between text and image */
}

.passage {
  width: 673px;
  font-family: serif;
  font-size: 23px;
  font-weight: 300;
  line-height: 30.26px;
  letter-spacing: 0.02em;
  text-align: left;
  opacity: 1; /* Ensure opacity is 1 to make the text visible */
}

.button {
  display: flex;
  margin-top: 20px; /* Adjust spacing as needed */
}

.avalanche-zone-map,
.area-analysis {
  background-color: #83D2EF;
  color: black;
  padding: 15px 30px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  margin: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.avalanche-zone-map:hover,
.area-analysis:hover {
  background-color: #0069d9;
}

.image {
  flex-shrink: 0; 
  margin-right: 5%;
}

.image img {
  max-width: 1000px; /* Set maximum width for the image */
  height: 400px;
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.2); /* Create shadow for the image */
  border-radius: 40px;
}

/* map  */
.map_container{
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 5%;
  background-color: #8489DD;
}
/* Area */
.container-area {
  width:900px;
  margin-right:20%;
  margin-left:20%;
  padding: 20px;
}

.header-area {
  margin-bottom: 20px;
  color: black;
  text-align: center;
}

.location {
  margin-bottom: 20px;
  text-align: center;
  color: black;
}

.location h3 {
  display: inline-block;
  background-color: #d3ecf3;
  width: 300px;
  height: 50px;
  padding: 10px;
}

.location select {
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
}

.chart-area {
  height: 60vh; /* Adjust the height as needed */
  background-color: #d3d3f3; /* light purple background */
  border-radius:5%;
  padding: 20px;
  position: relative;
}

canvas {
  background-color: #d3d3f3; /* Match the container background */
  border-radius: 10px;
}

.legend {
  position: absolute;
  top: 10px;
  left: 10px;
  color: black;
  font-size: 16px;
}

.legend span {
  display: inline-block;
  margin-right: 10px;
}

/* ndrf */
.container-ndrf-main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* Align items at the start */
  
}

.image-ndrf {
  margin-right: 20px;
}

.image-ndrf img {
  max-width: 434px;
  height: auto;
  margin-top: 3%;
  margin-right: 5%;
}

.header-ndrf {
  text-align: center;
  margin-right:46%;
  font-weight: 900;
  font-size: 25px;
}

.passage-ndrf {
  max-width: 600px;
  flex: 1;
  background-color: #D9D9D9;
  padding: 30px 30px;

}

.passage-ndrf p {
  margin: 0;
  padding: 5px 0;
  font-size :23px;
  gap: 0;
  font-weight: 600;
  
}

/* safe */
.continer-safe{
  margin:5%;
  display: flexbox;
}

.header-safe{
margin-left: 38%;
}

.passage-safe p{
  margin-left: 43%;
  font-weight: 700;
}

.guide-safe{
  padding: 50px;
  background-color: #CBF2FF;
  font-size: 15px;
  font-weight: 700;
  margin-left: 25%;
  margin-right: 25%;
  gap: 0px;
  border-radius: 33px;
  opacity: 0px;
  
}

.guide-safe span{
  font-size: 15px;
  font-weight: 700;
  color:#6A02BC;
}

/* weather */
/* Weather.css */

.weather {
  padding: 10px; /* Keep padding small */
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px; /* Set a smaller fixed width */
  height: 10px; /* Centering and margin adjustments */
}

.weather-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temperature {
  display: flex;
  align-items: center;
  margin-top: 5px; /* Small margin */
}

#icon img {
  width: 100px; /* Smaller size for the icon */
  height: 100px; /* Smaller size for the icon */
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem; /* Keep font size readable but not too large */
  margin-left: 5px; /* Small margin */
}

.temp-c {
  text-align: center;
}

.info{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  flex-flow: row wrap;
  margin-bottom: 50%;
}
.info h5{
  text-align: center;
  font-size: 1.4em;
}

.B1, .B2{
   background-color: #F1FCFF;
   border-radius: 26px;
   height: 350px;
   width: 450px;
   padding: 10px;
}

.B1 h5{
  color: #00BAFE;
}

#line {
  width: 410px;     
  height: 3px;
  margin: 22px;  
  margin-bottom: 2px;    
  background-color: black; 
  margin: 0 auto;
}

.district{
  padding-left: 50px;
  font-size: larger;
}

.district h4{
  margin-bottom: 30px;
}
.disname h4{
  color: #FF0000;
 margin: 30px ;
 font-size: 1.2em;
 margin-left: -20px;
}

.district p{
  font-size: 100%;
  font-weight: 700;
}

.disname p{
  font-size: 100%;
  font-weight: 700;
  margin: 25px;
}

.info-container{
  display: flex;
  justify-content: space-between;
}

.loc{
  padding-left: 50px;
  font-size: larger;
}

#wl{
  color: orangered;
}

#rl{
   margin-bottom: -20px;
}

.head{
  display:flex;
  justify-content: space-between;
  margin: 20px;
  margin-bottom: 0px;
  margin-top: 1px;
}

.loc p, .rlevel p{
  font-size: 100%;
  font-weight: 700;
  margin: 30px;
}
.rlevel p{
 transform: scale(2.1);
 margin: 35px;
}